*{
    box-sizing: border-box;
    margin: 0;
}
body {
    background-image: url("https://wallpaperaccess.com/full/3306106.jpg");
    background-size: cover;  /* Ensures the image covers the whole page */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

#hero{
    display: flex;
    flex-direction: column;
}
h1, h2{
    margin:auto;
    margin-top: 40px;
    width: 70%;
    font-family: 'Courier New', Courier, monospace;
}
h3{
    
    margin-top: 40px;
}
h1{
    margin: auto;
    padding: 20px 0;
    text-align: center;
    font-size: 4rem;
    width: 70%;
}
h2{
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    padding: 20px;
}
#nomeautor{
    align-items: center;
    text-align: right;
    margin: auto;
    width: 70%;
    border-bottom: 2px solid black;
    font-size: 2rem;

}
section{
    width: 70%;
    margin: auto;
    margin-top: 20px;
    height: 100%;
    column-count: 2;
    column-gap: 43px;
    column-rule: 2px solid #50504e;
    & img{
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 90%;
        align-items: center;
        opacity: 70%;
    }
    & figcaption{
        font-weight: 600;
        font-style: italic;
        background-color: #888888;
        padding: 5px;
        color: aliceblue;
    }
    & p{
        text-indent: 20px;
        margin: 20px 0;
        font-size: 1.2rem;
        text-overflow: clip;
    }
    & strong{
        color: rgb(116, 3, 3);
        font-style: italic;
    }
}
h2{
    font-size: 2rem;
}
#section2{
    column-count: 3;
}
footer{
    text-align: center;
    padding: 50px;
    border-top: 2px solid #8D9C3D;
    margin-top: 20px;
    & p{
        margin: 20px;
        color: #ede8e8;
        font-weight: 800;
    }
    & strong{
        color: rgb(53, 2, 2);
        font-style: italic;
    }

}